.header {
    margin-bottom: 50px;
    min-width: 350px;

    &-container {
        position: relative;
        background-color: $color-primary;
    }
}

.header-logo {
    display: flex;
    padding: 10px 0;
    text-align: left;
    align-items: center;
    background-color: $color-primary;

    &__image {
        padding-left: 10px;
        margin-right: 5px;

        @include xs {
            padding-left: 0;
        }
    }

    &__title {
        display: block;
        color: $color-light;
        font-family: $font-header;
        font-size: 1rem;
        letter-spacing: 0.33em;
        margin-right: -$gap;
    }
}

.header-phone {
    color: white;
    text-align: right;
    margin-top: 20px;
    white-space: nowrap;

    & a {
        text-decoration: none;
        color: white;
    }

    @include xs {
        padding-right: 0;
    }
}

.description {
    margin-bottom: 20px;
    position: relative;

    &-overlay {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        opacity: 60%;
        z-index: -1;
    }

    &-image {
        display: none;

        & img {
            max-height: 350px;
            margin-left: auto;
            margin-right: auto;
        }

        @include md {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: white;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -2;
        }
    }

    &-text {
        min-height: 350px;
        display: grid;
        justify-content: center;
        /*
        @include md {
            background-image: url("../img/people.png");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            overflow: hidden;
            z-index: 1;
        }*/

        &__caption {
            display: block;
            color: black;
            font-size: 2.5rem;
            margin-bottom: 10px;
            @include md {
                text-align: center;
            }
        }
        &__text {
            display: block;
            color: black;
            font-size: 1.5rem;
            margin-bottom: 10px;

            & strong {
                font-weight: normal !important;
            }

            @include md {
                text-align: center;
            }
        }
    }

    &-logo {
        min-height: 50px;
        display: flex;
        justify-content: center;

        @include md {
            min-height: 0;

            & img {
                display: none;
            }
        }
    }
}

.conditions {
    margin-bottom: 20px;
    padding-top: 10px;

    &-header {
        &__caption {
            width: 100%;
            text-align: center;
            font-family: $font-header;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    &-element {
        text-align: center;

        &__title {
            display: block;
            margin-bottom: 10px;

            & h3 {
                font-size: 1rem;
            }
        }

        &__value {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 1rem;

            @include xs {
                &:nth-of-type(2) {
                    min-height: 70px;
                }
            }
        }
    }
}

.sender {
    background-color: $color-primary;
    margin-bottom: 40px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    @include md {
        padding-left: 0;
        padding-right: 0;
    }

    @include sm {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    &-container {
        height: 100px;
        background-color: $color-primary;
    }

    &-btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    &__btn {
        color: white;
        min-width: 300px;
        background-color: #47bd4d;
        border-radius: 0;
        transition: background-color 0.5s, font-weight 0.5s;

        &:focus,
        &:hover {
            color: white;
            font-weight: bold;
            background-color: darken($color: #47bd4d, $amount: 5%);
        }

        @include md {
            width: 100%;
            height: 50px;
        }
    }

    &__input {
        color: white;
        border: none;
        border-bottom: 2px solid white;
        border-radius: 0;
        background-color: $color-primary;
        transition: font-weight 0.5s;

        &::placeholder {
            transition: color 0.5s;
            color: darken($color: white, $amount: 10%);
        }

        &:focus,
        &:hover,
        &:active {
            border: none;
            border-bottom: 2px solid white;
            font-weight: bold;
            box-shadow: none;
        }
    }

    .form-group {
        padding-left: 20px;
        padding-right: 20px;

        &:nth-of-type(5) {
            margin-bottom: 40px;
        }

        &:last-of-type {
            @include sm {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.cash {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    &-container {
        display: grid;
        padding-left: 30px;
        padding-right: 30px;

        @include md {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    &__description {
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}
